header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 25px;
    color: #fff;

}

fieldset{
    width: 40%;
   margin-left: 30%;
   border: double;

}

legend{
    text-align: center;
}

textarea{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#btn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

img{
    scroll-behavior: smooth; 
}